.show-password-button {
  background-color: transparent;
  color: rgb(0,123,255);
  border: 1px solid rgb(0,123,255);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
}